

<div class="screen-overlay"></div>

{{>admin-side}}  
    <main class="main-wrap">         
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="/admin/sales-report" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>View report</a>
                </div> 
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on pt-2"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Total Revenue</h6>
                                <span>{{formatMoney MonthlytotalRevenue}}</span>
                                <span class="text-sm">
                                    
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping pt-2"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Pending Orders to deliver</h6> <span>{{pendingOrders}}</span>
                                <span class="text-sm">
                                   
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code pt-2"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Products</h6> <span>{{productCount}}</span>
                                <span class="text-sm">
                                    
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket pt-2"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly profit</h6> <span>{{formatMoney monthlyProfit}}</span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Category wise sales</h5>
                             <canvas id="categoryWiseSalesChart"></canvas>
                        </article>
                    </div>
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Payment method wise sales</h5>
                             <canvas id="paymentMethodSalesChart"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Weekly sales</h5>
                            <canvas id="weeklySalesChart" height="217"></canvas>
                        </article>
                    </div>
                </div>
            </div> 
            {{!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> --}}
        </section>  content-main end// 
          {{>admin-footer}}
    </main>
  


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{{!-- category wise sales --}}

<script>
  window.onload = function() {
    var categoryWiseSales = {{{JSONstringify categoryWiseSales}}};
    console.log('category is',categoryWiseSales)
    var labels1 = [];
    var sales1 = [];

    categoryWiseSales.forEach(function(item) {
      labels1.push(item._id);
      sales1.push(item.totalSales);
    }); 
    
    var ctx1 = document.getElementById("categoryWiseSalesChart").getContext("2d");
    var myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: labels1,
        datasets: [{
          label: 'Total Sales',
          data: sales1,
          backgroundColor: 'rgba(0,128,96,255)',
          hoverBackgroundColor: 'rgba(0, 128, 96, 1)'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });

    var paymentMethodSales = {{{JSONstringify paymentMethodSales}}};
    console.log('payment method sales:', paymentMethodSales);
    var labels2 = [];
    var sales2 = [];

    paymentMethodSales.forEach(function(item) {
      labels2.push(item._id);
      sales2.push(item.totalSales);
    }); 
    
    var ctx2 = document.getElementById("paymentMethodSalesChart").getContext("2d");
    var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: labels2,
                datasets: [{
                label: 'Total Sales',
                data: sales2,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)',
                    'rgba(0, 128, 96, 0.8)',
                    'rgba(255, 0, 0, 0.8)',
                    'rgba(0, 255, 0, 0.8)',
                    'rgba(0, 0, 255, 0.8)'
                ]
                }]
            },
            options: {
                aspectRatio: 1.5,
                plugins: {
                legend: {
                    position: 'right'
                }
                }
            }
            });

     // Weekly sales chart
    var weeklySales = {{{JSONstringify weeklySales}}};
    console.log('weekly sales:', weeklySales);
    var labels3 = [];
    var sales3 = [];

    weeklySales.forEach(function(item) {
      labels3.push(item._id);
      sales3.push(item.totalSales);
    }); 
    
    var ctx3 = document.getElementById("weeklySalesChart").getContext("2d");
    var myChart3 = new Chart(ctx3, {
      type: 'bar',
      data: {
        labels: labels3,
        datasets: [{
          label: 'Total Sales',
          data: sales3,
          backgroundColor: 'rgba(0,128,96,255)',
          hoverBackgroundColor: 'rgba(0, 128, 96, 1)'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });


  };


</script>





