        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: {{orderDetails.orderId}}</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{orderDetails.orderDate}}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{orderDetails.orderId}}</small>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Ordered by</h6>
                                    <p class="mb-1">
                                        {{orderDetails.userName}} <br>  <br> {{orderDetails.deliveryDetails.mobile}}
                                    </p>
                                    <a href="/user-profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Kerala express <br> Pay method:{{orderDetails.paymentMethod}} <br> Status:{{orderDetails.status}}
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Delivery address</h6>
                                    <p class="mb-1">
                                        {{orderDetails.deliveryDetails.address}} <br>{{orderDetails.deliveryDetails.city}} <br> {{orderDetails.deliveryDetails.zipcode}}
                                    </p>
                                    <a href="/user-profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="35%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="25%">Total</th>   
                                            <th></th>                     
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {{#each orderProducts}}
                                        <tr>
                                          
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src={{this.images.image1}} width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"> {{this.name}} </div>
                                                </a>
                                            </td>
                                            <td>{{this.price}}</td>
                                            <td> {{this.quantity}} </td>
                                            <td> {{multiply this.quantity this.price}} </td>
                                            {{#if  (eq this.status "delivered")}}
                                            <td> <button type="button" class="btn btn-danger cancel-btn py-2" style="padding: 0 10px; font-size: 12px; font-weight: bold;" onclick="returnItemByUser('{{this._id}}','{{this.quantity}}','{{../orderDetails.orderId}}','{{../orderDetails.orderDate}}')">Return</button></td>
                                            
                                            {{/if}}
                                            {{#if  (eq this.status "returned")}}
                                            <td> <button type="button" class="btn btn-danger cancel-btn py-2" style="padding: 0 10px; font-size: 12px; font-weight: bold;" onclick="returnItemByUser('{{this._id}}','{{this.quantity}}','{{../orderDetails.orderId}}','{{../orderDetails.orderDate}}')">Return</button></td>
                                            
                                            {{/if}}
                                            
                                        </tr>     
                                        {{/each}}                                  
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>{{orderDetails.totalPrice}}</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">{{orderDetails.totalPrice}}</b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">{{orderDetails.status}}</span>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        {{#if (eq orderDetails.status "delivered")}}
                                                            <dd>
                                                               
                                                            </dd>
                                                        {{else if (eq orderDetails.status "returned")}}
                                                            <dd>

                                                            </dd>
                                                        {{else}}    
                                                        <dd>
                                                            <button type="button" class="btn btn-danger cancel-btn py-2" style="padding: 0 10px; font-size: 12px; font-weight: bold;" onclick="cancelOrder('{{orderDetails._id}}')">Cancel Order</button>
                                                            
                                                        </dd>
                                                        {{/if}}
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                        
                                                 
                                                    
                                                
                                           
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>                   
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section>